/* style.css */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

h4 {
	font-weight: 600;
}

body {
	font-family: "IBM Plex Mono", monospace;
}

table {
	margin: 0 auto;
	/* padding: 10px; */
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #666666;
}

tr:nth-child(even) {
	background-color: #fdfdfd;
}

td {
	padding: 10px;
}

th {
	text-align: left;
	background-color: #fbfbfb;
	padding: 10px;
	border-top: 2px solid #666666;
	border-bottom: 2px solid #666666;
}
